@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@*@using Umbraco.Cms.Core.Models.PublishedContent*@
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


@*@{
    // no need to use a layout for this partial
    // the feature header is contained within the feature itself
    Layout = "_Layout.cshtml";
}*@

@{
    IPublishedContent vThisPage = UmbracoContext!.PublishedRequest!.PublishedContent!;
    int intCurLevel = vThisPage.Level;
    IPublishedContent ThisSectionPage = vThisPage.Ancestor(2)!;
    if (vThisPage.Level == 2) { ThisSectionPage = vThisPage; }
}

@{
    void renderLI(IPublishedContent NavItem)
    {
        <li data-feature__item="level-@NavItem.Level" class="list-group-item @(NavItem.IsAncestorOrSelf(vThisPage) ? " active" : "")@(NavItem.IsDescendant(vThisPage) ? "descendant" : "")">
            <a href="@NavItem.Url()" class="nav-link @(NavItem.IsAncestorOrSelf(vThisPage) ? " text-white" : "")@(NavItem.IsDescendant(vThisPage) ? "descendant" : "")">@NavItem.Value("pageTitle")</a>
            @if (NavItem.IsAncestorOrSelf(vThisPage) && NavItem.Children != null)
            {
                <ul>
                    @foreach (IPublishedContent ListItemChild in NavItem.Children)
                    {
                        renderLI(ListItemChild);
                    }
                </ul>
            }
        </li>
    }
}

<nav class="card">
    <header class="card-header">
        <h2 class="card-title">
            <a href="@ThisSectionPage.Url()" class="nav-link">@ThisSectionPage.Value("pageTitle")</a>
        </h2>
    </header>
    <div class="">
        <ul class="list-group list-group-flush nav">
            @foreach (var NavItem in ThisSectionPage.Children!)
            {
                renderLI(NavItem);
            }
        </ul>
    </div>
</nav>




